
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 1rem 10%;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(12, 10, 44, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1; 
    
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), 
    transparent);
    transition: .5s;
}
.header:hover::after{
    left: 100%;


}
.logo{
    width: 4rem;
    height: 4rem;
}
.navbar > a{
    font-size: 1.15rem;
    color: aliceblue;
    opacity: 0.8;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
.navbar > a:hover{
    color: #007aff;
}
#check{
   display: none;
}
.icons{
    position: absolute;
    font-size: 2.8rem;
    color: #f0f8ff;
    cursor: pointer;
    display: none;
    right: 5%;

}
.looking {
    width: 100%;
    height: auto;


}
.looking-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 34rem;
    justify-content: center;
    align-items: center;
    background-image: url(imagen/bg_banner_desktop_v2_79125a46ce.webp);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: crisp-edges;
    background-position: center center;
}

.looking-img>img {
    position: relative;
    width: 20rem;
    

}

.looking-img>button {
    margin: 3rem 0;
    padding: 0.70em 1.1em;
    color: aliceblue;
    background-color: transparent;
    border: 2px solid white;

}
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
    
}
@media (max-width: 768px){
    .icons{
        display: inline-flex;
        
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display:none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(12, 10, 44, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 17.7rem;
    }
    .navbar > a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
     #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

}
.services{
    width: 100%;
    height: auto;
    background-color: rgba(8, 15, 40, 0.993);
    background-image: url(imagen/Whats_New_32_Racing_Through_Fire_68f6a4a610.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    image-rendering: crisp-edges;
}
.services-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.coffee{
    width: 200px;
    margin: 60px 20px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0px 5px #007aff;
    
}
.coffee > img{
    width: 10rem;
    color: white;
    border-radius: 10px 10px 0 0;
    box-shadow: 1px 5px 50px 0 #007aff;

}
.coffee > h2{
    margin: 15px 0;
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.90;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.coffee > p{
    color: #ffffff;
    opacity: 0.70;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.coffee:hover{
    border: 2px solid black;
   
}
.portafolio{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background-color: #F0EEE6;
    background-image: url(imagen/a9_download_banner_742dc1520d.webp);
}
.portafolio-div{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
}
.portafolio-div > h2{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.portafolio-div> ul{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}
.Portraits{
    padding: 8px;
    font-size: 20px;
    border-radius: 10%;
    color: aliceblue;
    opacity: 0.8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.portafolio-div >ul> li:hover{
    border: 2px solid #2772ea;
    color: #2772ea;
    border-radius: 10px;
}
.all{
    color: chartreuse;
    border: 2px solid #2772ea;
    padding: 3px 12px;
}
.contenedor-panoramas{
    display: flex;
    flex-direction: column; /* Las filas estarán una encima de la otra */
    align-items: center;
   

}
.panoramas-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.macro{
    width: 210px;
    height: 210px;
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin: 20px 10px;
}
.defaul-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: #252525;
    flex-wrap: wrap;

}

.defaul-div{ 
    width: 450px;
    height: 350px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    
    margin: 60px 0px;
}
.defaul-div> h2{
    color: aliceblue;
    opacity: 0.90;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.defaul-div > p{
    margin: 30px 0;
    color: #ffffff;
    opacity: 0.70;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.defaul-div > button{
    padding: 10px 30px;
    background-color: transparent;
    background-color: transparent;
    color: aliceblue;
    border: 2px solid #007aff;
    border-radius: 20px;
    box-shadow: 0 0px 5px #007aff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.twitter{
    width: 100%;
    height: auto;
    background-color: rgba(8, 15, 40, 0.993);
    padding: 60px 0;
}
.redes{
    display: flex;
    justify-content: space-around;
}
.redes > h2{
    margin: 20px 0;
    color: #ffffff;
    opacity: 0.90;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.redes > ul{
    display: flex;
    align-items: center;
    list-style: none;

}
.redes ul > li> i{
    color: aquamarine;
}
.twitter > p{
    text-align: center;
    margin-right: 8rem;
    opacity: 0.80;
    color: #ffffff;
    opacity: 0.8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.twitter > span{
    align-items: center;
    
    font-size: 18px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    position: relative;
    right: 15rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.twitter > span > h2{
    color: #ffffff;
    opacity: 0.80;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.who_doe{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagen/imagen\ de\ fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: crisp-edges;
    background-position: center center;
    flex-wrap: wrap;
}
.jhon{
    width: 450px;
    height: 300px;
}
.jhon > h2{
    margin: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.jhon > p{
    margin: 25px 0;
    color: aliceblue;
    opacity: 0.8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.jhon > i{
    font-size: 2rem;
    margin: 0 10px;
    color: aliceblue;
    margin-top: 3rem;
    padding: 10px;
    border: 2px solid white;

    
}
.testimonials{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(8, 15, 40, .5);
}

.testimonials-div{
    width: 70%;
    height: 10rem;
    margin: 55px 0;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.testimonials-div > p{
    opacity: 0.8;
    

}
.testimonials-div > span{
    position: relative; 
    top: 10px;
    margin-top: 10px;
    color: aqua;
}
.contact{
    width: 100%;
    height: auto;
    background-color: rgb(85, 85, 85);
}
input[type=text]{
    
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    width: 70%;

}
.col-77 textarea{
    padding: 12px 12px 12px 0;
    display: inline-block;
    height: 100px;
    width: 95%;
    background-color: transparent;
    border: 2px solid white;
    margin: 15px 0;
}
input[type=submit]{
    background-color: white;
    color: #2c5364;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    

}
.buton-pc{
    text-align: center;
    margin-left: 8rem;
    margin-top: 20px;
}
.container-form{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-image: url(imagen/background_0046ce1c2c.webp);
}
.container-form > form{
    width: 450px;
    height: auto;
}
.container-form > form > h2{
    margin: 0 0 40px;
    color: #F0EEE6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.col-25{
    font-size: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.col-75{
    margin-top: 6px;

}
.row{
    margin: 10px 0;
}
.row::after{
    content: "";
    display: table;
    clear: both;
    
}
.texto{
    width: 450px;
    height: auto;
    padding: 5rem 0 0;
}
.texto > p{
    margin: 0px 0 26px;
    color: aliceblue;
    opacity: 0.8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media screen and (min-width: 300px) and (max-width: 780px){
    .icons{
        display: block;

    }
    .coffee{
        margin: 30px 0;
    }
    .portafolio-div > ul{
        gap: 10px;
        margin: 30px 0;

    }
    .Portraits{
        padding: 3px;
    }
    .portafolio-div{
        padding: 35px 0;
    }
    .header-cv>.container-navbar{
        height: auto;
    }
    .defaul-div{
        margin: 20px 10px;
        height: auto;
    }
    .defaul-div>h2{
        text-align: center;

    }
    .defaul-div > p{
        padding: 0 20px;
    }
    .twitter{
        padding: 40px 0;
    }
    .twitter > p {
        margin-right: 0;
        padding: 0 20px;
    }

    .twitter > span {
        right: 0;
    }
    .jhon{
      margin: 0;
      padding: 0 20px;
      height: 250px;
    }
    .jhon > h2{
        font-size: 17px;
    }
    .jhon > i{
        margin-top: -20px;
        
    }
   
    .who_doe{
       background-size:cover;
       background-repeat: no-repeat;
    }
    .testimonials-div > h2{
        font-size: 20px;
    }
    .contact>h2 {
        left: 0;
    }
    .defaul-div>button{
        margin-left: 30px;
    }
    .texto{
        padding: 2rem 20px 0;
    }
    

}
@media screen and (max-width: 900px) {
    .container-form > form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input[type=text]{
    width: 100%;
    
    

}
}
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {

        margin-top: 0;
    }
    .contact{
        height: auto;
    }
}
